<mat-card class="cardWithShadow theme-card">
  <mat-card-content>
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="openAddVehicleDialog()">
        Ajouter Véhicule
      </button>
    </div>

    <!-- Tableau des véhicules -->
    <table mat-table [dataSource]="vehicles" class="mat-elevation-z8">
      <!-- Colonne Matricule -->
      <ng-container matColumnDef="matricule">
        <th mat-header-cell *matHeaderCellDef> Matricule </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.matricule }} </td>
      </ng-container>

      <!-- Colonne Modèle -->
      <ng-container matColumnDef="modele">
        <th mat-header-cell *matHeaderCellDef> Modèle </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.modele }} </td>
      </ng-container>

      <!-- Colonne Couleur -->
      <ng-container matColumnDef="couleur">
        <th mat-header-cell *matHeaderCellDef> Couleur </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.couleur }} </td>
      </ng-container>

      <!-- Colonne Puissance -->
      <ng-container matColumnDef="puissance">
        <th mat-header-cell *matHeaderCellDef> Puissance </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.puissance }} </td>
      </ng-container>

      <!-- Colonne Carburant -->
      <ng-container matColumnDef="carburant">
        <th mat-header-cell *matHeaderCellDef> Carburant </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.carburant }} </td>
      </ng-container>

      <!-- Colonne Année Modèle -->
      <ng-container matColumnDef="anneeModele">
        <th mat-header-cell *matHeaderCellDef> Année Modèle </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.anneeModele }} </td>
      </ng-container>

      <!-- Colonne Kilométrage -->
      <ng-container matColumnDef="kilometrage">
        <th mat-header-cell *matHeaderCellDef> Kilométrage </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.kilometrage }} </td>
      </ng-container>

      <!-- Colonne Date Vidange -->
      <ng-container matColumnDef="dateVidange">
        <th mat-header-cell *matHeaderCellDef> Date de Vidange </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.dateVidange | date: 'dd/MM/yyyy' }} </td>
      </ng-container>

      <!-- Colonne Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let vehicle">
          <button mat-icon-button color="primary" (click)="editVehicle(vehicle)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteVehicle(vehicle)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <!-- Définir les lignes et cellules -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>