<mat-card class="cardWithShadow">

    <mat-card-header>
        <mat-card-title>
            {{ data ? 'Modifier le contrat' : 'Ajouter un contrat' }}
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="contratForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Date de début</mat-label>
                <input matInput type="date" formControlName="datDebut" required />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Date de fin</mat-label>
                <input matInput type="date" formControlName="dateFin" required />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Voiture</mat-label>
                <mat-select formControlName="voiture" required>
                    <mat-option *ngFor="let voiture of voitures" [value]="voiture._id">{{ voiture.modele }} - {{
                        voiture.matricule }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Conducteur 1</mat-label>
                <mat-select formControlName="conducteur1" required>
                    <mat-option *ngFor="let client of clients" [value]="client._id">{{ client.nom }} {{ client.prenom }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Conducteur 2 (optionnel)</mat-label>
                <mat-select formControlName="conducteur2">
                    <mat-option *ngFor="let client of clients" [value]="client._id">{{ client.nom }} {{ client.prenom }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Prolongation 1</mat-label>
                <input matInput type="date" formControlName="prolongation1" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Prolongation 2</mat-label>
                <input matInput type="date" formControlName="prolongation2" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Changement de voiture</mat-label>
                <mat-select formControlName="changementVoiture">
                    <mat-option *ngFor="let voiture of voitures" [value]="voiture._id">{{ voiture.modele }} - {{
                        voiture.matricule }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Coût par jour</mat-label>
                <input matInput type="number" formControlName="coutJour" placeholder="Entrez le coût par jour"
                    required />
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">
                Valider la réservation
            </button>
        </form>
    </mat-card-content>

</mat-card>