<mat-card class="cardWithShadow ">

    <mat-card-header>
        <mat-card-title>
            {{ data ? 'Edit car' : 'Add car' }}
        </mat-card-title>
        <!-- <mat-card-title>Ajouter un Véhicule</mat-card-title>-->
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="carForm" (ngSubmit)="onSubmit()" class="form-container">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Registration number</mat-label>
                <input matInput id="matricule" formControlName="matricule"
                    placeholder="Enter the registration number" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Model</mat-label>
                <input matInput id="modele" formControlName="modele" placeholder="Enter the model" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Color</mat-label>
                <input matInput id="couleur" formControlName="couleur" placeholder="Enter the color" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Power</mat-label>
                <input matInput id="puissance" type="number" formControlName="puissance" placeholder="Enter a power" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Fuel</mat-label>
                <input matInput id="carburant" formControlName="carburant" placeholder="Enter the fuel type" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Year</mat-label>
                <input matInput id="anneeModele" type="text" formControlName="anneeModele"
                    placeholder="Enter the year" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Mileage</mat-label>
                <input matInput id="kilometrage" type="number" formControlName="kilometrage"
                    placeholder="Enter the mileage" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Oil change date</mat-label>
                <input matInput id="dateVidange" type="date" formControlName="dateVidange" />
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" class="submit-button">
                {{ data ? 'Edit car' : 'Add car' }}
            </button>
        </form>
    </mat-card-content>
</mat-card>