<mat-card class="cardWithShadow theme-card">
  <mat-card-content>
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="openAddVehicleDialog()">
        Add Car
      </button>
    </div>

    <!-- Tableau des véhicules -->
    <table mat-table [dataSource]="vehicles" class="mat-elevation-z8">
      <!-- Colonne Matricule -->
      <ng-container matColumnDef="Registration number">
        <th mat-header-cell *matHeaderCellDef> Registration number </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.matricule }} </td>
      </ng-container>

      <!-- Colonne Modèle -->
      <ng-container matColumnDef="Model">
        <th mat-header-cell *matHeaderCellDef> Model </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.modele }} </td>
      </ng-container>

      <!-- Colonne Couleur -->
      <ng-container matColumnDef="Color">
        <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.couleur }} </td>
      </ng-container>

      <!-- Colonne Puissance -->
      <ng-container matColumnDef="Power">
        <th mat-header-cell *matHeaderCellDef> Power </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.puissance }} </td>
      </ng-container>

      <!-- Colonne Carburant -->
      <ng-container matColumnDef="Fuel">
        <th mat-header-cell *matHeaderCellDef> Fuel </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.carburant }} </td>
      </ng-container>

      <!-- Colonne Année Modèle -->
      <ng-container matColumnDef="Year">
        <th mat-header-cell *matHeaderCellDef>Year</th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.anneeModele }} </td>
      </ng-container>

      <!-- Colonne Kilométrage -->
      <ng-container matColumnDef="Mileage">
        <th mat-header-cell *matHeaderCellDef> Mileage </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.kilometrage }} </td>
      </ng-container>

      <!-- Colonne Date Vidange -->
      <ng-container matColumnDef="Oil change date">
        <th mat-header-cell *matHeaderCellDef> Oil change date </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.dateVidange | date: 'dd/MM/yyyy' }} </td>
      </ng-container>

      <!-- Colonne Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let vehicle">
          <button mat-icon-button color="primary" (click)="editVehicle(vehicle)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteVehicle(vehicle)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <!-- Définir les lignes et cellules -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>