<mat-card class="cardWithShadow">

    <mat-card-header>
        <mat-card-title>
            {{ data ? 'Modifier le contrat' : 'Ajouter un contrat' }}
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="contratForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Start date</mat-label>
                <input matInput type="date" formControlName="datDebut" required />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>End date</mat-label>
                <input matInput type="date" formControlName="dateFin" required />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Car</mat-label>
                <mat-select formControlName="voiture" required>
                    <mat-option *ngFor="let voiture of voitures" [value]="voiture._id">{{ voiture.modele }} - {{
                        voiture.matricule }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Driver 1</mat-label>
                <mat-select formControlName="conducteur1" required>
                    <mat-option *ngFor="let client of clients" [value]="client._id">{{ client.nom }} {{ client.prenom }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Driver 2 (Optional)</mat-label>
                <mat-select formControlName="conducteur2">
                    <mat-option *ngFor="let client of clients" [value]="client._id">{{ client.nom }} {{ client.prenom }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Extension 1</mat-label>
                <input matInput type="date" formControlName="prolongation1" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Extension 2</mat-label>
                <input matInput type="date" formControlName="prolongation2" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Car change</mat-label>
                <mat-select formControlName="changementVoiture">
                    <mat-option *ngFor="let voiture of voitures" [value]="voiture._id">{{ voiture.modele }} - {{
                        voiture.matricule }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Cost per day</mat-label>
                <input matInput type="number" formControlName="coutJour" placeholder="Enter cost per day" required />
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">
                Confirm the reservation
            </button>
        </form>
    </mat-card-content>

</mat-card>